*{
    margin: 0;
    padding: 0;
    background-color: bisque;
}

.navbar{
    display: flex;
    justify-content: center;
    background-color: rgba(29, 121, 106, 0.541);
    color: #990505;
    padding: 2vh 0; 
}

.nav-links{
    display: flex;
    list-style-type: none;
    background-color: rgba(29, 121, 106, 0);
}

.nav-links li{
    background-color: rgba(29, 121, 106, 0);
    margin: 0 1vw;
}

.nav-links a{
    text-decoration: none;
    background-color: rgba(29, 121, 106, 0);
    font-family: japao;
    font-size: 4rem;
    transition: 0.4s;
}

.nav-links a:hover{
    color: #990505;
}

.navbar h1{
    text-align: center;
    margin: 0 5vw;
    font-family: japao;
    font-size: 5rem;
    background-color: rgba(29, 121, 106, 0);
}
 
.dados{
    display: flex;
    margin: 16vh 10vw;
}

.imagem-esquerda{
    height: 40vh;
    width: 10vw;
    margin: 0 2vw;
    border: 1vh #990505 solid;
    border-radius: 0 2vw;

}

.imagem-direita{
    height: 40vh;
    width: 10vw;
    margin: 0 2vw;
    border: 1vh #990505 solid;
    border-radius: 2vw 0 2vw 0;

}

p{
    display: flex;
    text-align: center;
    margin-top: 2vh;
    align-items: center;
    font-family: japao;
    font-size: 2.5rem;
}

.footer{
    display: flex;
    background-color: rgba(29, 121, 106, 0.541);
    padding: 6vh;  
    margin-top: 10vh; 
}

@font-face {
    font-family: fonte;
    src: url(../fontes/Strengthen.ttf);

}

@font-face {
    font-family: japao;
    src: url(../fontes/Harukaze1.ttf);

}

